In [29]:
import pandas as pd

# Load the avocado dataset
file_path = '../dataset/Avocado_HassAvocadoBoard_20152023v1.0.1.csv'
avocado_df = pd.read_csv(file_path)

In [30]:
avocado_df['Date'] = pd.to_datetime(avocado_df['Date'])

df = avocado_df[avocado_df['Date'] > '2022-01-02']

df.to_csv('../dataset/avocado_2022-2023.csv', index=False)

In [31]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 11800 entries, 41615 to 53414
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          11800 non-null  datetime64[ns]
 1   AveragePrice  11800 non-null  float64
 2   TotalVolume   11800 non-null  float64
 3   plu4046       11800 non-null  float64
 4   plu4225       11800 non-null  float64
 5   plu4770       11800 non-null  float64
 6   TotalBags     11800 non-null  float64
 7   SmallBags     0 non-null      float64
 8   LargeBags     0 non-null      float64
 9   XLargeBags    0 non-null      float64
 10  type          11800 non-null  object
 11  region        11800 non-null  object
dtypes: datetime64[ns](1), float64(9), object(2)
memory usage: 1.2+ MB
None

In [32]:
file_paths = ['../dataset/Volume Hass Avocado Board Suppliers 2022.csv',
              '../dataset/Volume Hass Avocado Board Suppliers 2023.csv',
              '../dataset/Volume Hass Avocado Board Suppliers 2024.csv',
              '../dataset/Volume Hass Avocado Board Suppliers 2025 (projection).csv']

suppliers_df = pd.concat([pd.read_csv(file) for file in file_paths])

suppliers_df.to_csv('../dataset/merged_suppliers.csv', index=False)

print(suppliers_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 208 entries, 0 to 51
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Week Ending         208 non-null    object
 1   Year                208 non-null    int64
 2   Status              208 non-null    object
 3   Total Volume        208 non-null    object
 4   California          208 non-null    object
 5   Chile               208 non-null    object
 6   Mexico              182 non-null    object
 7   Peru                208 non-null    object
 8   Colombia            208 non-null    object
 9   Dominican Republic  156 non-null    object
dtypes: int64(1), object(9)
memory usage: 17.9+ KB
None