In [14]:
import pandas as pd

# Load the avocado dataset
file_path = '../dataset/Avocado_HassAvocadoBoard_20152023v1.0.1.csv'
avocado_df = pd.read_csv(file_path)

In [15]:
print(avocado_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53415 entries, 0 to 53414
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          53415 non-null  object
 1   AveragePrice  53415 non-null  float64
 2   TotalVolume   53415 non-null  float64
 3   plu4046       53415 non-null  float64
 4   plu4225       53415 non-null  float64
 5   plu4770       53415 non-null  float64
 6   TotalBags     53415 non-null  float64
 7   SmallBags     41025 non-null  float64
 8   LargeBags     41025 non-null  float64
 9   XLargeBags    41025 non-null  float64
 10  type          53415 non-null  object
 11  region        53415 non-null  object
dtypes: float64(9), object(3)
memory usage: 4.9+ MB
None

In [16]:
# Display the first few rows of the dataset
print(avocado_df.head())

         Date  AveragePrice  TotalVolume    plu4046    plu4225   plu4770  \
0  2015-01-04          1.22     40873.28    2819.50   28287.42     49.90
1  2015-01-04          1.79      1373.95      57.42     153.88      0.00
2  2015-01-04          1.00    435021.49  364302.39   23821.16     82.15
3  2015-01-04          1.76      3846.69    1500.15     938.35      0.00
4  2015-01-04          1.08    788025.06   53987.31  552906.04  39995.03

   TotalBags  SmallBags  LargeBags  XLargeBags          type  \
0    9716.46    9186.93     529.53         0.0  conventional
1    1162.65    1162.65       0.00         0.0       organic
2   46815.79   16707.15   30108.64         0.0  conventional
3    1408.19    1071.35     336.84         0.0       organic
4  141136.68  137146.07    3990.61         0.0  conventional

                region
0               Albany
1               Albany
2              Atlanta
3              Atlanta
4  BaltimoreWashington

In [28]:
# Convert the "Data" column to datetime format
avocado_df['Date'] = pd.to_datetime(avocado_df['Date'])

# Filter the dataset for records after March 2018
df = avocado_df[avocado_df['Date'] > '2018-03-25']

# Display the first few rows of the filtered dataset
print(df.head())

            Date  AveragePrice  TotalVolume    plu4046    plu4225  plu4770  \
18369 2018-04-01      1.046781     98799.94   12614.66   62032.39    61.59
18370 2018-04-01      1.857166      2321.73     146.08     220.82     0.00
18371 2018-04-01      1.097461    546304.64  239780.15   28051.07  1617.55
18372 2018-04-01      1.670534     24966.76     455.98    4059.84     0.00
18373 2018-04-01      1.410264    768943.03   86269.20  445490.08  4587.75

       TotalBags  SmallBags  LargeBags  XLargeBags          type  \
18369   22510.23        0.0        0.0         0.0  conventional
18370    1954.84        0.0        0.0         0.0       organic
18371   88846.86        0.0        0.0         0.0  conventional
18372    7858.33        0.0        0.0         0.0       organic
18373  225712.26        0.0        0.0         0.0  conventional

                    region       Data
18369               Albany 2018-04-01
18370               Albany 2018-04-01
18371              Atlanta 2018-04-01
18372              Atlanta 2018-04-01
18373  BaltimoreWashington 2018-04-01

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 35046 entries, 18369 to 53414
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          35046 non-null  datetime64[ns]
 1   AveragePrice  35046 non-null  float64
 2   TotalVolume   35046 non-null  float64
 3   plu4046       35046 non-null  float64
 4   plu4225       35046 non-null  float64
 5   plu4770       35046 non-null  float64
 6   TotalBags     35046 non-null  float64
 7   SmallBags     22656 non-null  float64
 8   LargeBags     22656 non-null  float64
 9   XLargeBags    22656 non-null  float64
 10  type          35046 non-null  object
 11  region        35046 non-null  object
 12  Data          35046 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(9), object(2)
memory usage: 3.7+ MB
None